<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <script src="https://kit.fontawesome.com/bf614d451d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <title>CRUD Clubes</title>
</head>
<body>
  {{{body}}}
</body>
</html>
  
