<div class="container is-flex is-align-items-center is-flex-direction-column">
  <h2 class="has-text-centered is-size-1">Crea tu equipo</h2>
  <form class="is-flex is-flex-direction-column" action="/crear-equipo" method="POST" enctype="multipart/form-data">
    <div class="field">
      <label for="nombre" class="label">Nombre</label>
      <div class="control">
        <input class="input" name="nombre" type="text" required >
      </div>
    </div>
    <div class="field">
      <label for="siglas" class="label">Siglas</label>
      <div class="control">
        <input class="input" name="siglas" type="text" required >
      </div>
    </div>
    <div class="field">
      <label for="fundado" class="label">Fundado en el año</label>
      <div class="control">
        <input class="input" name="fundado" type="text" required >
      </div>
    </div>
    <div class="field">
      <label for="colores" class="label">Colores del club</label>
      <div class="control">
        <input class="input" name="colores" type="text" required >
      </div>
    </div>
    <div class="field">
      <label for="direccion" class="label">Dirección</label>
      <div class="control">
        <input class="input" name="direccion" type="text" required >
      </div>
    </div>
      <label for="direccion" class="label">Logo</label>
    <div class="file has-name">
      <input type="file" name="logo">
    </div>
    <button type="submit" class="button is-align-self-center my-3">Enviar</button>
  </form>
</div>